body {
    text-align: center;
    background-image: url("https://w.wallhaven.cc/full/43/wallhaven-43zz86.jpg");
    background-size: cover;
    color: darkorange;

}

li {
    text-align: center;

}


